@charset "UTF-8";


    
#content-body-regist{

	height: auto;
	width: 600px;
	margin: auto;
	margin-top: 5%;
}


.regist-box-h2{
	width:36%;
	margin: auto;
}

.regist-box-h5{
	width:15%;
	margin: auto;
}


	