<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    
<mapper namespace="scheduler">
	
	<delete id="delPreviousYoutubeMedia">
		DELETE FROM web_media
	</delete>
	
	<insert id="insertYoutubeMedia" parameterType="String">
		INSERT INTO web_media
		VALUES(web_media_id_seq.NEXTVAL, #{videoId}, 'video', sysdate, sysdate)
	</insert>
	
	<select id="youtubeVideoIdList" resultType="dto.WebMediaDTO">
		SELECT id, url FROM web_media ORDER BY id
	</select>
</mapper>